{% extends 'plantillas/plantilla_general.html' %}
{% block contenido %}
<br>
<div class="card">
    <div class="card-header d-flex">
        <h5 class="">Agregar Autor</h5>
        <div class="d-flex ms-auto">
            <a href="{% url 'lista-autor' %}" class="btn btn-outline-secondary btn-sm">&#x2190; Volver</a>
        </div>
    </div>
    <div class="card-body">

        {% if form.errors %}
        <div class="alert alert-danger d-flex align-items-center" role="alert"> 
            <strong>&#x26A0;¡Hubo errores en el formulario!</strong>
        </div>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            <div>
                {{form.as_p}}
            </div>
            <br>
    </div>
    <div class="card-footer text-muted">
        <input type="submit" value="Enviar" class="btn btn-outline-secondary btn-sm">
    </div>
    </form>
</div>

{% endblock contenido %}