{% extends 'plantillas/plantilla_general.html' %}
{% block contenido %}
<br>
<div class="card">
    <div class="card-header d-flex">
        <h5 class="">Eliminar Autor "{{autor}}"</h5>
        <div class="d-flex ms-auto">
            <a href="{% url 'lista-autor' %}" class="btn btn-outline-secondary btn-sm">&#x2190; Volver</a>
        </div>
    </div>
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            <h5 class="card-title">¿Seguro que quieres eliminar el Autor seleccionado?</h5>
            <p class="card-text">Para confirmar accionar el boton y el genero se eliminara de la Base de Datos</p>
    </div>
    <div class="card-footer text-muted">
        <input type="submit" value="Eliminar" class="btn btn-outline-secondary btn-sm">
    </div>
    </form>
</div>
{% endblock contenido %}